Repository geomechanics/mpm-examples, pull requests merged in 2022-03, with the labels that each got.

#1 :tada::pencil: build out basic structure
  README.md
  explicit_single_phase/README.md
  explicit_single_phase/use_cases/README.md
  explicit_single_phase/validation/README.md
  higher_order_basis_functions/README.md
  higher_order_basis_functions/use_cases/README.md
  higher_order_basis_functions/validation/README.md
  implicit_linear_nonlinear/README.md
  implicit_linear_nonlinear/use_cases/README.md
  implicit_linear_nonlinear/validation/README.md
  semi_implicit_navier_stokes/README.md
  semi_implicit_navier_stokes/use_cases/README.md
  semi_implicit_navier_stokes/validation/README.md
  template/README.md
  template/use_cases/README.md
  template/validation/README.md
Labels: documentation, help wanted

#4 Tests for Nightly Build benchmark
  explicit_single_phase/validation/sliding_block_inclined_boundary/entity_sets.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/friction-constraints.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/mesh.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/mpm-file.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/mpm.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/nodal-euler-angles.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/particles.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/velocity-constraints.txt
  explicit_single_phase/validation/uniaxial_stress/entity_sets.json
  explicit_single_phase/validation/uniaxial_stress/mesh.txt
  explicit_single_phase/validation/uniaxial_stress/mpm.json
  explicit_single_phase/validation/uniaxial_stress/particles.txt
  explicit_single_phase/validation/uniaxial_stress/test_benchmark.py
  explicit_single_phase/validation/uniaxial_traction/entity_sets.json
  explicit_single_phase/validation/uniaxial_traction/mesh.txt
  explicit_single_phase/validation/uniaxial_traction/mpm-nodal-forces-file.json
  explicit_single_phase/validation/uniaxial_traction/mpm-nodal-forces.json
  explicit_single_phase/validation/uniaxial_traction/mpm-particle-traction.json
  explicit_single_phase/validation/uniaxial_traction/nodal-forces.txt
  explicit_single_phase/validation/uniaxial_traction/particles.txt
  explicit_single_phase/validation/uniaxial_traction/test_benchmark.py
Labels: benchmark

#5 Correctly set up file structure for nightly build inputs
  .gitignore
  README.md
  explicit_single_phase/README.md
  explicit_single_phase/validation/README.md
  explicit_single_phase/validation/sliding_block_inclined_boundary/README.md
  explicit_single_phase/validation/sliding_block_inclined_boundary/data/temp.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/entity_sets.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/friction-constraints.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/mesh.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/mpm-file.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/mpm.json
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/nodal-euler-angles.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/particles.txt
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/velocity-constraints.txt
  explicit_single_phase/validation/uniaxial_stress/README.md
  explicit_single_phase/validation/uniaxial_stress/data/temp.txt
  explicit_single_phase/validation/uniaxial_stress/inputs/entity_sets.json
  explicit_single_phase/validation/uniaxial_stress/inputs/mesh.txt
  explicit_single_phase/validation/uniaxial_stress/inputs/mpm.json
  explicit_single_phase/validation/uniaxial_stress/inputs/particles.txt
  explicit_single_phase/validation/uniaxial_stress/inputs/test_benchmark.py
  explicit_single_phase/validation/uniaxial_traction/README.md
  explicit_single_phase/validation/uniaxial_traction/data/temp.txt
  explicit_single_phase/validation/uniaxial_traction/inputs/entity_sets.json
  explicit_single_phase/validation/uniaxial_traction/inputs/mesh.txt
  explicit_single_phase/validation/uniaxial_traction/inputs/mpm-nodal-forces-file.json
  explicit_single_phase/validation/uniaxial_traction/inputs/mpm-nodal-forces.json
  explicit_single_phase/validation/uniaxial_traction/inputs/mpm-particle-traction.json
  explicit_single_phase/validation/uniaxial_traction/inputs/nodal-forces.txt
  explicit_single_phase/validation/uniaxial_traction/inputs/particles.txt
  explicit_single_phase/validation/uniaxial_traction/inputs/test_benchmark.py
Labels: documentation, benchmark

#6 Update test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/test_benchmark.py
Labels: bug

#7 Update test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/test_benchmark.py
Labels: benchmark

#8 Update test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/test_benchmark.py
Labels: bug

#9 Update test_benchmark.py
  explicit_single_phase/validation/sliding_block_inclined_boundary/inputs/test_benchmark.py
Labels: bug

#10 off by 1, update output file
  explicit_single_phase/validation/uniaxial_stress/inputs/test_benchmark.py
  explicit_single_phase/validation/uniaxial_traction/inputs/test_benchmark.py
Labels: bug, benchmark
